﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mi_center {
    flex: 1;
    display: flex;
    justify-content:center;
}
.mi_container{text-align:center;}
.mi_description {
    width: 300px;
    flex: initial;
    margin: auto 0;
    text-align:right;
}
.mi_img {
flex:1;
}
.mi_img img{}